@inject IHttpContextAccessor _httpContextAccessor
@using SharedClasses.Models.UserModels;
@using SharedClasses.Models.CountryModels;
@using MongoDB.Driver;
@{

    var user = DataBaseClient.PlayerCollection.Find(x => x.Username == 
    _httpContextAccessor.HttpContext.Session.GetString("Username")).FirstOrDefault();

    var country = DataBaseClient.CountryCollection.Find(x => x.Id == user.CountryId).FirstOrDefault();

    var Countries = DataBaseClient.CountryCollection.Find(
        Builders<Country>.Filter.Exists(x => x.Id)
    ).ToList();


}


<center>

    <input type="text" id="CountryInput" list="CountriesList">
    <datalist id="CountriesList"></datalist>
    @foreach(var Country in Countries)
    {
        <option value="@Country.Name">@Country.Name</option>
    }
    <button type="submit">Search</button>


</center>


<h1>@user.Name.FirstName's Dashboard</h1>

<br><br>
<p>
    All your details and shit will go here 
</p>


<br><br>


<p>
   @country.Name has a population of @country.Population
</p>