@using SharedClasses.Models.CountryModels
@using SharedClasses.Models.UserModels
@using MongoDB.Driver
@{


 
}



<button>
    Delete Everything
</button>


<p>
    Users
<br>

@foreach(var country in 
    DataBaseClient.CountryCollection.Find(
        Builders<Country>.Filter.Exists(x => x.Id)
    ).ToList()
)
{

    foreach(var player in DataBaseClient.PlayerCollection.Find(
        Builders<Player>.Filter.Exists(x => x.Id)
    ).ToList())
    {

        if(player.CountryId == country.Id)
        {

            <h3>

                @player.Id: @player.Username

                @player.Name.FirstName @player.Name.Surname

                Population: @country.Population

                EconomicEvaluation: @country.EconomicEvaluation

                GlobalPopularity: @country.GlobalPopularity

                LocalPopularity: @country.LocalPopularity

            </h3>
            <hr>


        }


    }


}


</p>