@using SharedClasses.Models.CountryModels
@using SharedClasses.Models.UserModels
@using MongoDB.Driver
@{
 
}


<a asp-controller="Admin" asp-action="DeleteAllUsers">
<button>
    Delete Everything
</button>
</a>

<p>
    Users
<br>

@foreach(var country in 
    DataBaseClient.CountryCollection.Find(
        Builders<Country>.Filter.Exists(x => x.Id)
    ).ToList()
)
{

    foreach(var player in DataBaseClient.PlayerCollection.Find(
        Builders<Player>.Filter.Exists(x => x.Id)
    ).ToList())
    {

        if(player.CountryId == country.Id)
        {

                @player.Id: @player.Username
                @player.Name.FirstName @player.Name.Surname
                <br>
                Country: @country.Name
                Population: @country.Population
            <hr>
            <br>
            <br>
            <br>


        }


    }


}


</p>
